################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicMVC/obj
/.vs/DynamicMVC/v15/Server/sqlite3
/DynamicMVC/bin/Debug/netcoreapp2.1
/.vs/DynamicMVC/DesignTimeBuild/.dtbcache
