
<h2>Challenge Summary</h2>
<img alt="leaves" src="~/images/leaves.gif" id="rightImg" />
<p><b>Challenge 1:</b> Return a String from the Server.</p>
<p><b>Challenge 2:</b> Client-side and Server-side data manipulation.</p>
<p><b>Challenge 3:</b> Basic Data Binding.</p>
<p><b>Challenge 4:</b> Model Validation (String Length, Email Address, Age).</p>
<p><b>Challenge 5:</b> Dynamic Collections (Add, Remove, Modify).</p>
